/* trading.css */
.trading-container {
  position: relative;
  width: calc(100% - 150px);
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: margin-left 0.3s, width 0.3s;
  min-height: 100vh;
  background-color: #1e1e2e;
  padding: 2rem;
}

.trading-container.sidebar-closed {
  width: calc(100% - 80px);
  margin-left: 80px;
}
